* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #3333;

}

.container {
    display: flex;
    justify-content: center;
}

.card {
    width: 50%;
    background-color: gold;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.image_path img {
    width: 30%;
    aspect-ratio: 0/2;
}

.card>* {
    margin: 5px;
    display: block;
}